
* {
    border-radius: 0 !important;
}
body {
    background-color: #e7e7e7;
    font-family: 'Lato', sans-serif;
    color: black;
}
code {
    color: black;
    background-color: #f5f5f5;
    white-space: nowrap;
}
pre {
    max-height: 500px;
}

.padding-row {
    padding: 25px 0px 30px;
}

.content-container a,
footer a,
.featherlight-content a {
    color: #727272;
    text-decoration: none;
    border-bottom: 1px solid #5A5A5A;
}

.content-container a:hover,
footer a:hover,
.featherlight-content a:hover {
    text-decoration: none;
    color: black;
}

.navbar-default {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}

.navbar-brand {
    padding-top: 7px;
    padding-bottom: 0;
    display: none;
}

.navbar-brand img {
    height: 36px;
}

#navbar>ul>li a {
    font-size: 1.1em
}

#navbar>ul>li>a {
    font-weight: bold;
    color: black;
    margin-right: 1px;
}

#navbar>ul>li>a:hover {
    background-color: #e7e7e7;
}

.navbar-default .navbar-toggle {
    border: 0;
    margin-top: 6px;
    margin-right: 8px;
}

.navbar-default .navbar-toggle .icon-bar {
    height: 3px;
    background-color: #373737
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.dropdown-menu {
    border-color: #ccc;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2)
}


/**** */
.logo-text-pages h1 {
    margin: 5px 0 15px;
    font-weight: 500;
    font-size: 2.2em;
}

.logo-text-pages img {
    height: 45px;
    margin-bottom: 15px;
}

.main-wrapper {
    padding: 20px 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 1px 0px;
}


/*** Frontpage ***/
#frontpage-slogan {
    margin-top: 10px;
    margin-bottom: 25px;
}

.downloads-row {
    position: relative;
    height: 230px;
    text-align: center;
}

.download-buttons-wrapper {
    position: absolute;
    min-width: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downloads-container img {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    display: block;
}

.downloads-title {
    margin: 20px;
}

.download-button {
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    border: 0 !important;
    background-color: #F5B907;
    padding: 5px 5px 10px !important;
    color: white !important;
    text-decoration: none;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
    margin-bottom: 5px;
    transition: .1s background-color ease-in-out;
}

.download-button span {
    float: left;
    font-size: 2em;
    margin: 0.6em 0 0 5%;
}

.download-button h4 {
    font-size: 2em;
    margin-bottom: 0;
}

.download-button:hover {
    background-color: #FFC400;
}

.download-extra {
    margin: 0px 5px 15px 50px;
    display: inline-block;
}


.linux-row {
    display: none;
    padding-left: 30px;
}

.linux-row .glyphicon {
    top: 3px;
}

#giganews-wide {
    display: none;
}

.highlights {
    float: right;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.lSSlideOuter .lSPager.lSpg>li a {
    border: 0 !important;
    background-color: #666;
    margin-bottom: 5px;
    border-radius: 30px !important;
}

.lSSlideOuter .lSPager.lSpg>li.active a,
.lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #F5B907;
}

.lSAction>a {
    opacity: 1;
    background: 0;
    font-size: 1.6em;
    border: 0 !important;
    margin-top: -30px;
}

.lSNext {
    text-align: right;
}

#frontpage-slideshow img {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#frontpage-slideshow li {
    margin-bottom: 25px;
    text-align: center;
}

.featherlight .featherlight-close-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    border-width: 0px 0px 1px 1px;
}

/*** Downloads page ***/
.container-download-page .downloads-row {
    height: auto;
}
.container-download-page h2,
.container-download-page p,
.container-download-page .download-links {
    text-align: left;
}

.container-download-page ul {
    margin-top: 15px;
}

.container-download-page .download-button {
    margin: 0;
}

#container-stats a {
    border: none;
    text-decoration: underline;
    color: black;
}

#container-stats h3:first-of-type {
    margin-top: 0;
}

#stable-changelog,
#beta-changelog {
    padding: 0px 22px 22px;
    max-width: 750px;
}

#beta-please-report a,
#beta-please-report span {
    line-height: 1.7em;
    margin-left: 5px;
}

.form-stable-only {
    margin-top: 20px;
}

/*** Donate page ***/
.donations-container h1 {
    margin-bottom: 20px;
}

.donations-container p {
    margin-bottom: 3px;
}

.donations-container .glyphicon-heart {
    color: #FFCA28;
    top: 10px;
    font-size: 1.3em;
    animation: pulseheart 1.2s linear infinite;
}

.donations-container .col-sm-3 h3 {
    text-align: center;
    margin-bottom: 10px;
}

.donations-container .crypto-qrs {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.donations-container .qr-codes {
    margin-bottom: 20px;
}

.donations-container .col-sm-3 {
    margin-bottom: 30px;
}

.donations-container .input-group-btn .btn {
    width: 2.7em;
}

.donations-container .paypal-link {
    font-size: 1.2em;
}

.donations-container .paypal-row {
    display: none;
}

@keyframes pulseheart {
    50% {
        transform: scale(0.7);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.donate-icon-row img {
    width: 70px;
    margin: 10px 20px 25px;
}

.donate-icon-row .glyphicon {
    display: inline-block;
    width: 110px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
}

#donate-amount {
    font-size: 1.7em;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 40px;
    width: 60px;
}

.donate-wrapper {
    background-color: #f2f2f2;
    padding: 10px 10px 10px;
    min-height: 58px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    max-width: 555px;
    margin: auto;
    margin-top: 20px;
}

.donate-wrapper a {
    float: right;
    font-size: 1.3em;
    margin-left: 20px;
    margin-top: 2px;
    display: block;
    color: white;
    border: 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.donate-wrapper a:hover {
    color: white;
}

.donate-wrapper .glyphicon-chevron-right {
    top: 3px;
}

.donations-container .filled-circle {
    border-radius: 50% !important;
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: #FFCA28;
    vertical-align: top;
}

.donations-container .connect-dash {
    display: inline-block;
    width: 90px;
    height: 18px;
    background-color: #FFCA28;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
}

.donate-icon-row img,
.donations-container .connect-dash,
.donations-container .filled-circle {
    filter: grayscale(100%);
    opacity: 0.8;
}

.donate-icon-row img.selected,
.donations-container .connect-dash.selected,
.donations-container .filled-circle.selected {
    filter: grayscale(0);
    opacity: 1.0;
}


/*** Wiki ****/
.navbar-wiki-button,
.navbar-wiki-button:focus {
    background-color: white;
    float: right;
}
.title-page {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.title-page a {
    float: right;
    font-size: small;
    text-decoration: none;
    border: 0;
    margin-top: 16px;
}

.title-page a span:first-of-type {
    margin-right: 5px;
}

.alert-old-sabnzbd .glyphicon,
.alert-translate .glyphicon {
    float: left;
    font-size: 2.5em;
    margin-right: 13px;
    margin-top: 2px;
}

.alert-old-sabnzbd h1 {
    margin: 0;
}

.alert code {
    background-color: transparent !important;
    color: inherit !important;
}

.wiki-content table td:first-child {
    width: 200px;
}

.wiki-content .table-not-fixed td:first-child {
    width: auto;
    min-width: 40px;
}

.wiki-content .table-special td:nth-child(2) {
    text-align: center;
}

.wiki-content th {
    background-color: #EDEDED
}

.wiki-content h1 {
    font-size: 1.9em
}

.wiki-content h2 {
    font-size: 1.6em
}

.wiki-content h3 {
    font-size: 1.3em
}

.wiki-content li {
    margin-bottom: 2px;
    margin-top: 2px;
}

#wiki-side-bar {
    margin-bottom: 30px;
}

#wiki-side-bar a {
    display: block;
    border: 0;
    padding: 7px;
    color: black;
}

#wiki-side-bar .menu-spacer {
    height: 25px;
}

#wiki-side-bar>a {
    border-bottom: 1px solid #ddd;
    font-weight: 700
}

#wiki-side-bar a:hover{
    background-color: #F3F3F3
}

#wiki-side-bar .active-menu  {
    background-color: #F3F3F3
}

#wiki-side-bar ul {
    list-style: none;
    padding-left: 0;
}

#wiki-side-bar ul a {
    padding-left: 20px;
    margin-top: 2px;
}

#wiki-side-bar .gn-sn-tall {
    margin-top: 20px;
    text-align: center;
    border: 0;
    text-decoration: underline;
}

.footnotes-footer {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-top: 15px;
}

.footnotes-footer .title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
}

blockquote {
    font-size: 1em;
}

h2 .label {
    font-size: 0.5em;
}

/*** Newsserver tester **/

.newsserver-test .glyphicon {
    top: 2px;
}

#newsserver-test-result {
    width: 100%;
    border: 0;
    height: 500px;
    display: none;
}

.newsserver-progress {
    display: none;
    margin-top: 1.5em;
}

.newsserver-progress .progress-bar {
    width: 100%;
}

/*** */
footer {
    background-color: #e7e7e7;
    padding: 20px;
}

footer img {
    width: 1.2em;
    margin-left: 8px;
}

footer a[href="https://twitter.com/sabnzbd"] {
    border: 0;
}

aside {
    float: none;
    clear: both;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    height: 218px;
    width: 218px;
    text-align: right;
}
/***** */

.gn-sn-wide,
#wiki-side-bar .gn-sn-tall {
    display: none;
    font-weight: bold;
    color: black !important;
}

.gn-sn-wide img {
    max-width: 100%
}

/* Special for tablets and small desktops */
@media only screen and (max-width: 999px) {
    .downloads-row {
        height: 130px;
    }
    .downloads-container img {
        margin: 10px auto;
    }

    .single-download {
        height: 150px;
    }

    img.slideshow {
        margin: 10px 0px;
    }

    .navbar-wiki-button {
        display: block;
    }

    .highlights-row .col-md-6 {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 20px;
    }

    /* So the ad doesn't block the menu */
    aside {
        display: none;
    }

    /* Show the horizontal ad */
    #giganews-wide {
        display: block;
        font-weight: bold;
        padding-bottom: 15px;
    }
}

/* Special for phones */
@media only screen and (max-width: 767px) {
    .navbar-brand {
        display: inline;
    }

    .main-logo,
    .logo-text-pages img {
        display: none
    }

    .title-page a span:first-of-type {
        display: none;
    }

    .downloads-row {
        height: 160px;
    }

    .highlights {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .wiki-content table td:first-child {
        width: auto;
    }

    .logo-text-pages h1 {
        margin-top: -5px;
    }

    .download-buttons-wrapper {
        min-width: 100%;
    }

    .container-download-page .download-button {
        margin: 0 -15px;
        width: calc(100% + 30px);
    }

    .donations-container .paypal-row {
        display: block;
    }

    .donations-container .slider-row {
        display: none;
    }

    /* Some overrides for the popup on mobile */
    .featherlight .featherlight-content {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

/* Anything bigger than a phone */
@media only screen and (min-width: 767px) {
    #navbar {
        padding-left: 0;
        margin-left: -15px;
    }
}

/* Special for desktops */
@media only screen and (min-width: 999px) {
    #wiki-side-bar {
        display: block !important;
    }
    .navbar-wiki-button {
        display: none;
    }
}

/**
    Highlighting
**/
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */