---
title: Downloads
redirect_from:
    - /download/
    - /downloads/
---

{% include logo_container.html %}

<div class="main-wrapper content-container">
    <div id="main-container" class="container container-download-page">
        <div class="row downloads-row">
            <div class="col-sm-6 download-stable">
                <h2>Latest stable release</h2>
                <p>Mature and stable. <br/><br/></p>
                <div class="show-before-load">
                    Loading..
                </div>
                <div class="show-after-load">
                    <a class="download-button">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <h4>Version</h4>
                        <strong class="download-os"></strong>
                    </a>
                    <div class="download-links" id="download-links-stable">
                        <ul>
                            <li><a class="download-link-win-setup" href="">Windows Installer</a></li>
                            <li><a class="download-link-win64-bin" href="">Windows Standalone</a> (64bit)</li>
                            <li><a class="download-link-win32-bin" href="">Windows Standalone</a> (32bit)</li>
                            <li><a class="download-link-osx" href="">macOS</a></li>
                            <li><a class="download-link-src" href="">Linux</a></li>
                            <li><a href="/wiki/installation/install-ubuntu-repo">Install via Ubuntu/Debian PPA Repository</a></li>
                            <li><a class="download-link-source" href="">Source Code</a></li>
                            <li><a class="download-link-changelog" href="#" data-featherlight="#stable-changelog">Changelog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-left">
                    <span class="glyphicon glyphicon-equalizer"></span>
                    <a href="/download-stats">Older versions and download statistics</a>
                </div>
            </div>
            <div class="col-sm-6 download-beta">
                <h2>Latest testing release</h2>
                <p>Latest features but still in development. <br>Can contain bugs, please <a href="http://forums.sabnzbd.org/viewforum.php?f=11">report them</a>!</p>
                <div class="show-before-load">
                    Loading..
                </div>
                <div class="show-after-load">
                    <a class="download-button">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <h4>Version</h4>
                        <strong class="download-os"></strong>
                    </a>
                    <div class="download-links" id="download-links-beta">
                        <ul>
                            <li><a class="download-link-win-setup" href="">Windows Installer</a></li>
                            <li><a class="download-link-win64-bin" href="">Windows Standalone</a> (64bit)</li>
                            <li><a class="download-link-win32-bin" href="">Windows Standalone</a> (32bit)</li>
                            <li><a class="download-link-osx" href="">macOS</a></li>
                            <li><a class="download-link-src" href="">Linux</a></li>
                            <li><a href="/wiki/installation/install-ubuntu-repo">Install via Ubuntu/Debian PPA Repository</a></li>
                            <li><a class="download-link-source" href="">Source Code</a></li>
                            <li><a class="download-link-changelog" href="#" data-featherlight="#beta-changelog">Changelog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-row text-center">
            {% include ad_giganews_supernews_banner.html %}
        </div>
    </div>
    <div class="hidden">
        <div id="stable-changelog">
            <span class="changelog-content"></span>
        </div>
        <div id="beta-changelog">
            <span class="changelog-content"></span>
        </div>
        <div id="beta-please-report">
            <h3>Thank you for trying our pre-release version!</h3>
            <h4>Please let us know when something isn't working:</h4>
            <span class="glyphicon glyphicon-home"></span> <a href="https://forums.sabnzbd.org/viewforum.php?f=11" target="_blank">Report it on our forum</a><br />
            <span class="glyphicon glyphicon-plane"></span> <a href="https://github.com/sabnzbd/sabnzbd/issues" target="_blank">Create an Issue on Github</a><br />
            <span class="glyphicon glyphicon-globe"></span> <a href="https://translations.launchpad.net/sabnzbd" target="_blank">Improve translations of SABnzbd</a><br />
            <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:bugs@sabnzbd.org?body=Version:%20$version%20Skin:%20Glitter">Or email us at bugs@sabnzbd.org</a>
            <h4><br>Without your feedback, we cannot squash those bugs!</h4>
        </div>
    </div>
</div>
<script src="/js/featherlight.min.js"></script>
<script src="/js/showdown.min.js"></script>
<script src="/js/sabnzbd.js?v={{ site.time | date: '%d%m%Y' }}"></script>
