---
title: Downloads
redirect_from:
    - /download/
---

{% include logo_container.html %}

<div class="main-wrapper content-container">
    <div id="main-container" class="container container-download-page">
        <div class="row downloads-row">
            <div class="col-sm-4 {% if site.latest_testing == '' %}col-sm-offset-1{% endif %}">
                <h2>Tip</h2>
                <div class="downloads-tip">
                    <p>
                        <a href="{{ site.ad_link }}&chan=wtl" target="_blank">Newshosting</a> has the fastest downloads, longest retention and best search results. Newshosting and SABnzbd: the best Usenet experience!
                    </p>
                    <p>
                        Special Newshosting deal exclusive for SABnzbd users: <a href="{{ site.ad_link }}&chan=wtl" target="_blank">70% Off plus 3 FREE MONTHS</a> [Limited time only]!
                    </p>

                    <a href="{{ site.ad_link }}&chan=wtl" target="_blank">
                        <img src="/images/specials/nh_wizard.png" border="0" alt="Special Newshosting offer for SABnzbd users">
                    </a>
                </div>
            </div>

            <div class="col-sm-4 {% if site.latest_testing == '' %}col-sm-offset-1{% endif %} download-stable">
                <h2>Latest stable release</h2>
                <p>Mature and stable. <br/><br/></p>
                <a class="download-button" href="https://github.com/sabnzbd/sabnzbd/releases/tag/{{ site.latest_stable }}">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    <h4>SABnzbd {{ site.latest_stable }}</h4>
                    <strong class="download-os">Browse packages</strong>
                </a>
                <div class="download-links" id="download-links-stable">
                    <ul>
                        <li><a class="download-link-win-setup" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_stable }}/SABnzbd-{{ site.latest_stable }}-win-setup.exe">Windows Installer</a></li>
                        <li><a class="download-link-win64-bin" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_stable }}/SABnzbd-{{ site.latest_stable }}-win64-bin.zip">Windows Portable</a> (64bit)</li>
                        <li><a class="download-link-win32-bin" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_stable }}/SABnzbd-{{ site.latest_stable }}-win32-bin.zip">Windows Portable</a> (32bit and legacy)</li>
                        <li><a class="download-link-osx" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_stable }}/SABnzbd-{{ site.latest_stable }}-osx.dmg">macOS</a> (macOS 10.9+ and M1/M2)</li>
                        <li><a class="download-link-src" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_stable }}/SABnzbd-{{ site.latest_stable }}-src.tar.gz">Linux</a></li>
                        <li><a href="/wiki/installation/install-unix">Linux repositories</a> (Debian, Ubuntu, FreeBSD, Fedora, etc)</li>
                        <li><a class="download-link-source" href="https://github.com/sabnzbd/sabnzbd/archive/{{ site.latest_stable }}.zip">Source Code</a></li>
                        <li><a class="link-changelog" href="#">Changelog</a></li>
                    </ul>
                </div>
                <div class="text-left">
                    <span class="glyphicon glyphicon-equalizer"></span>
                    <a href="/download-stats">Older versions and download statistics</a>
                </div>
            </div>
            {% if site.latest_testing != '' %}
            <div class="col-sm-4 download-beta">
                <h2>Latest pre-release</h2>
                <p>Latest features but still in development. <br>Can contain bugs, please <a href="http://forums.sabnzbd.org/viewforum.php?f=11">report them</a>!</p>
                <a class="download-button" href="https://github.com/sabnzbd/sabnzbd/releases/tag/{{ site.latest_testing }}">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    <h4>SABnzbd {{ site.latest_testing }}</h4>
                    <strong class="download-os">Browse packages</strong>
                </a>
                <div class="download-links" id="download-links-beta">
                    <ul>
                        <li><a class="download-link-win-setup" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_testing }}/SABnzbd-{{ site.latest_testing }}-win-setup.exe">Windows Installer</a></li>
                        <li><a class="download-link-win64-bin" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_testing }}/SABnzbd-{{ site.latest_testing }}-win64-bin.zip">Windows Portable</a> (64bit)</li>
                        <li><a class="download-link-win32-bin" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_testing }}/SABnzbd-{{ site.latest_testing }}-win32-bin.zip">Windows Portable</a> (32bit and legacy)</li>
                        <li><a class="download-link-osx" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_testing }}/SABnzbd-{{ site.latest_testing }}-osx.dmg">macOS</a> (macOS 10.9+ and M1/M2)<br></li>
                        <li><a class="download-link-src" href="https://github.com/sabnzbd/sabnzbd/releases/download/{{ site.latest_testing }}/SABnzbd-{{ site.latest_testing }}-src.tar.gz">Linux</a></li>
                        <li><a href="/wiki/installation/install-unix">Linux repositories</a> (Debian, Ubuntu, FreeBSD, Fedora, etc)</li>
                        <li><a class="download-link-source" href="https://github.com/sabnzbd/sabnzbd/archive/{{ site.latest_testing }}.zip">Source Code</a></li>
                        <li><a class="link-changelog" href="#">Changelog</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="hidden">
        <div id="stable-changelog">
            <span class="changelog-content">
                Loading changelog...
            </span>
        </div>
        <div id="beta-changelog">
            <span class="changelog-content">
                Loading changelog...
            </span>
        </div>
        <div id="beta-please-report">
            <h3>Thank you for trying our pre-release version!</h3>
            <h4>Please let us know when something isn't working:</h4>
            <span class="glyphicon glyphicon-home"></span> <a href="https://forums.sabnzbd.org/viewforum.php?f=11" target="_blank">Report it on our forum</a><br />
            <span class="glyphicon glyphicon-plane"></span> <a href="https://github.com/sabnzbd/sabnzbd/issues" target="_blank">Create an Issue on Github</a><br />
            <span class="glyphicon glyphicon-globe"></span> <a href="https://sabnzbd.org/wiki/translate">Improve translations of SABnzbd</a><br />
            <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:bugs@sabnzbd.org?body=Version:%20$version%20Skin:%20Glitter">Or email us at bugs@sabnzbd.org</a>
            <h4><br>Without your feedback, we cannot squash those bugs!</h4>
        </div>
    </div>
</div>

{% include download_buttons.html %}

<script src="/js/featherlight.min.js"></script>
<script src="/js/showdown.min.js"></script>
