---
title: The free and easy binary newsreader
---
<div class="container downloads-container content-container">
    <div class="row">
        <div class="col-md-6 main-logo">
            <img src="/images/logo-full.svg" alt="SABnzbd">
        </div>
        <div class="col-md-6 downloads-row">
            <div class="download-buttons-wrapper">
                <div class="show-before-load">
                    Loading..
                </div>
                <div class="show-after-load download-stable">
                    <a class="download-button">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <h4>Version</h4>
                        <strong class="download-os"></strong>
                    </a>
                    <a class="download-extra" href="/downloads">Downloads for other platforms</a>
                </div>
                <div class="linux-row">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <a href="/wiki/installation/install-ubuntu-repo">Install via Ubuntu/Debian PPA Repository</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper content-container">
    <div id="main-container" class="container">
        <div class="row text-center" id="giganews-wide">
            {% include ad_giganews_supernews_banner.html %}
        </div>
        <div class="row text-center">
            <h1 id="frontpage-slogan">Free and easy binary newsreader</h1>
        </div>
        <div class="row highlights-row">
            <div class="col-md-6">
                <img class="highlights" src="/images/landing/os-logos.png" alt="It runs anywhere" />
                <h3>It runs anywhere</h3>
                <p>SABnzbd runs on <a href="/downloads">Windows</a>, <a href="/downloads">macOS</a>, <a href="/wiki/installation/install-unix">Unix</a> and <a href="/wiki/installation/install-nas">NAS devices</a>.
                You can access and manage SABnzbd from any device with a webbrowser, including iOS and Android phones and tablets.</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <img class="highlights" src="/images/landing/small-and-large-screens.png" alt="Small and large screens" />
                <h3>Small and large screens</h3>
                <p>With the responsive Glitter interface, you can access SABnzbd and manage your downloads from any device: desktop, tablet or phone. Others have made Android (<a href="http://nzb360.com/" target="_blank">nzb360</a>) and iOS (<a href="http://sabmini.com/" target="_blank">SABmini</a> or <a href="https://nzbunity.dozenzb.com/" target="_blank">nzbUnity</a>) apps to manage SABnzbd.</p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row highlights-row">
            <div class="col-md-6">
                <img class="highlights" src="/images/landing/integrates-with-other-tools.png" alt="Integrates with other tools" />
                <h3>Integrates with other tools</h3>
                <p>Apps like <a href="https://sonarr.tv/" target="_blank">Sonarr</a>, <a href="https://sickrage.github.io/" target="_blank">Sickrage</a>, <a href="https://radarr.video/" target="_blank">Radarr</a>, <a href="https://github.com/rembo10/headphones" target="_blank">Headphones</a> and <a href="/wiki/extensions-for-sabnzbd">more</a> can integrate with SABnzbd and automate your download process.<br/>
                SABnzbd can also read and process <a href="/wiki/configuration/{{ site.wiki_version }}/rss">RSS feeds</a>, activate <a href="/wiki/scripts/post-processing-scripts">custom scripts</a> and <a href="/wiki/configuration/{{ site.wiki_version }}/notifications">notify</a> you.</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <img class="highlights" src="/images/landing/languages.png" alt="In 16 languages"/>
                <h3>In 16 languages</h3>
                <p>SABnzbd now ships with <strong>16 localizations</strong>: <br/>English, Dansk, Deutsch,  Español (castellano), Français, Nederlands, Norsk bokmål, Polski, Português Brasileiro, Româna, Suomi, Svenska, русский язык, српски, עִבְרִית‎&lrm;, 简体中文.</p>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row padding-row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Screenshots</h2>
                <ul id="frontpage-slideshow">
                    {% for screenshot in site.data.screenshots %}
                    <li>
                        <a href="/images/landing/screenshots/{{ screenshot.file }}" data-featherlight="image">
                            <img src="/images/landing/screenshots/{{ screenshot.file }}" alt="{{ screenshot.title | strip_html  }}">
                        </a>
                        <strong>{{ screenshot.title }}</strong>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row padding-row">
            <div class="col-md-12 text-center">
                <h4>SABnzbd is Open Source Software; it's free as in speech and free as in beer.<br/>
                As it's open source you can inspect it, and develop your own code</h4>
            </div>
        </div>
    </div>
</div>
<script src="/js/lightslider.min.js"></script>
<script src="/js/featherlight.min.js"></script>
<script src="/js/showdown.min.js"></script>
<script src="/js/sabnzbd.js?v={{ site.time | date: '%d%m%Y' }}"></script>
