<a href="https://www.giganews.com/usenet-special/?a=SABnzbd:contribute" class="gn-sn-wide" target="_blank">
    <img src="https://www.giganews.com/banners/SABnzbd:contribute/468x60a.gif" alt="Giganews Specials"><br>
    Giganews special deals
</a>
<a href="https://www.supernews.com/special/usenet-special/?r=sabnzbd_sn" class="gn-sn-wide" target="_blank">
    <img src="https://www.supernews.com/ads/sabnzbd_sn/dollar_sn_468x60.gif" alt="Supernews Specials"><br>
    Supernews special deals
</a>
<script type="text/javascript">
    // Randomly select 1 of 2 banners
    var random_nr = Math.floor(Math.random()*2)
    $('.gn-sn-wide').eq(random_nr).show()
</script>