<aside>
    <a href="{{ site.giganews_link }}?a=sabd1" target="_blank">
        <img alt="Usenet" src="/images/specials/gn_tng_180x180_tri.gif" width="180" height="180" />
    </a>
</aside>
<script type="text/javascript">
    // Do we maybe know the language of the user?
    var user_lang = localStorage.getItem('user_lang');
    var corner_langs = ['pt_BR', 'zh_CN', 'de', 'es', 'fr', 'nl'];

    // Maybe from the browser? Worth a try
    if(!user_lang) {
        user_lang = window.navigator.userLanguage || window.navigator.language;
        user_lang = user_lang.substring(0,2);
    }

    // Update if we have it
    if(corner_langs.indexOf(user_lang) !== -1) {
        $('aside img').attr('src', '/images/specials/gn_tng_180x180_tri_' + user_lang + '.gif')
    }
</script>