{% if page.url contains "downloads" or page.url contains "donate" %}
    {% assign ad_tag = "df" %}
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="/images/specials/nh_horizontal.png" alt="Special Newshosting offer for SABnzbd users" /></a>
{% else %}
    {% assign ad_tag = "mb" %}
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="/images/specials/nh_horizontal.png" alt="Special Newshosting offer for SABnzbd users" /></a>
{% endif %}

<br>
