{% if page.url contains "downloads" or page.url contains "donate" %}
    {% assign ad_tag = "df" %}
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="//www.usenetjunction.com/accounts/default1/7b141aw/10b12d07.png" alt="Special Newshosting offer for SABnzbd users" /></a>
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="//www.usenetjunction.com/accounts/default1/7b141aw/10b12d07.png" alt="Special Newshosting offer for SABnzbd users" /></a>
{% else %}
    {% assign ad_tag = "mb" %}
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}1" class="banner-wide" target="_blank"><img src="//www.usenetjunction.com/accounts/default1/7b141aw/089a4bf1.png" alt="Special Newshosting offer for SABnzbd users" /></a>
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="//www.usenetjunction.com/accounts/default1/7b141aw/10b12d07.png" alt="Special Newshosting offer for SABnzbd users" /></a>
{% endif %}

<br>
<a href="{{ site.ad_link }}&chan={{ ad_tag }}t" class="banner-wide-text">Special Newshosting offer for SABnzbd users: 65% Off!</a>

<script type="text/javascript">
    // Randomly select 1 of 2 banners
    var random_nr = Math.floor(Math.random()*2)
    $('.banner-wide').eq(random_nr).show()
</script>