{% if page.url contains "downloads" or page.url contains "donate" %}
    {% assign ad_tag = "df" %}
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="/images/specials/nh_horizontal_discount.png" alt="Special Newshosting offer for SABnzbd users" /></a>
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="/images/specials/nh_horizontal_discount.png" alt="Special Newshosting offer for SABnzbd users" /></a>
{% else %}
    {% assign ad_tag = "mb" %}
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="/images/specials/nh_horizontal_discount.png" alt="Special Newshosting offer for SABnzbd users" /></a>
    <a href="{{ site.ad_link }}&chan={{ ad_tag }}2" class="banner-wide" target="_blank"><img src="/images/specials/nh_horizontal_discount.png" alt="Special Newshosting offer for SABnzbd users" /></a>
{% endif %}

<br>

<script type="text/javascript">
    // Randomly select 1 of 2 banners
    var random_nr = Math.floor(Math.random()*2);
    $('.banner-wide').eq(random_nr).show();

    // Do we maybe know the language of the user?
    var user_lang = localStorage.getItem('user_lang');
    var corner_langs = ['de', 'fr', 'nl'];

    // Maybe from the browser? Worth a try
    if(!user_lang) {
        user_lang = window.navigator.userLanguage || window.navigator.language;
        user_lang = user_lang.substring(0,2);
    }

    // Update if we have it
    if(corner_langs.indexOf(user_lang) !== -1) {
        var active_image = $('.banner-wide:visible img');
        if(active_image.length) {
            // If not mobile, it's not visible
            var cur_image =  active_image.attr('src');
            active_image.attr('src', cur_image.replace('.png', '_' + user_lang + '.png'));
        }
    }
</script>