<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.name }} - {{ page.title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="SABnzbd.org">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="SABnzbd.org" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="msapplication-navbutton-color" content="#FFFFFF" />
    <meta name="theme-color" content="#FFFFFF" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/lightslider.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/featherlight.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/sabnzbd.css?v={{ site.time | date: '%d%m%Y' }}" type="text/css" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76-precomposed.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180-precomposed.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/android-192x192.png" />

    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    {% assign url_bits = page.url | split: '/' %}
    {% if url_bits[2] == 'configuration' and url_bits[3] < site.wiki_version %}
    <meta name="robots" content="noindex" />
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo-full.svg" alt="SABnzbd"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/downloads">Downloads</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/wiki/">Wiki</a></li>
                            <li class="divider"></li>
                            <li><a href="/wiki/introduction/quick-setup">Quick Setup</a></li>
                            <li><a href="/wiki/configuration/{{ site.wiki_version }}/configure">Configuration</a></li>
                            <li><a href="/wiki/faq">FAQ</a></li>
                            <li><a href="/wiki/advanced/api">API</a></li>
                        </ul>
                    </li>
                    <li><a href="https://forums.sabnzbd.org/" target="_blank">Forum</a></li>
                    <li><a href="/live-chat.html">Live Chat</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=670741" target="_blank">Donate now!</a></li>
                            <li><a href="/donors-list">Donors list</a></li>
                        </ul>
                    </li>
                    <li><a href="https://github.com/sabnzbd/sabnzbd" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>



