---
title: Donate
redirect_from:
    - /donate/donors-list
    - /donate/donors-list/
---

{% include logo_container.html %}

<div class="main-wrapper content-container">
    <div id="main-container" class="container donations-container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Support the development of SABnzbd</h1>
                <p>We work on this project in our spare time, your donations will help us to continue developing SABnzbd.</p>
                <p>Donations can be send via PayPal or credit card and through Bitcoin (Cash), Ethereum and Litecoin.</p>
                <p>You can also support us by signing up for the special SABnzbd usenet deal with our partner <a href="{{ site.ad_link }}&chan=dftl" target="_blank">Newshosting</a>!</p>
                <p><strong>It is not required to donate in order to use SABnzbd or any of its features.</strong></p>
                <p><strong>SABnzbd does not provide usenet access!</strong></p>
                <h2>Thank you <span class="glyphicon glyphicon-heart"></h2>
                <hr>
            </div>
        </div>
        <div class="row paypal-row">
            <div class="col-md-12 text-center">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=670741" target="_blank" class="paypal-link">
                    Donate via PayPal or credit card <br>(PayPal account not required)<br>
                    <img src="/images/donate/paypal_donate.jpg" alt="Donate via PayPal">
                </a>
            </div>
        </div>
        <div class="row slider-row">
            <div class="col-md-12 text-center donate-icon-row">
                <img src="/images/donate/gift.svg" alt="You encourage us to keep working on SABnzbd and buy ourselves a coffee to keep going." data-amount="5" class="selected">
                <img src="/images/donate/server.svg" alt="With the help of your donation we can pay our webhosting fees and get test accounts." data-amount="10" class="selected">
                <img src="/images/donate/chocolate_cheese.svg" alt="Some of us live in very expensive Switzerland.. <br>Now we can keep buying Swiss cheese and chocolate!" data-amount="15">
                <img src="/images/donate/coding.svg" alt="Now we can start saving up for some new hardware to code on and still get our cheese and chocolate!" data-amount="25">
                <img src="/images/donate/love.svg" alt="For this amount you can ask us (almost) anything! SABnzbd feature-related of course.." data-amount="50">
                <br/>
                <span class="filled-circle selected" data-amount="5"></span>
                <span class="connect-dash selected" data-amount="10"></span>
                <span class="filled-circle selected" data-amount="10"></span>
                <span class="connect-dash" data-amount="15"></span>
                <span class="filled-circle" data-amount="15"></span>
                <span class="connect-dash" data-amount="25"></span>
                <span class="filled-circle" data-amount="25"></span>
                <span class="connect-dash" data-amount="50"></span>
                <span class="filled-circle" data-amount="50"></span>
            </div>
        </div>
        <div class="row slider-row">
            <div class="donate-text-row">
                <div class="donate-wrapper">
                    <a class="btn btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=670741" target="_blank" title="Donate via PayPal or credit card (PayPal account not required)" data-toggle="tooltip" data-placement="bottom">
                        Donate <span class="glyphicon glyphicon-chevron-right">
                    </span></a>
                    <span id="donate-amount">$ 10</span>
                    <span id="donate-text"></span>
                </div>

                <script type="text/javascript">
                    $('.donate-icon-row img, .slider-row .filled-circle, .slider-row .connect-dash').hover(function() {
                        var hoverAmount = $(this).data('amount')

                        // Update text
                        $('#donate-amount').text('$ ' + hoverAmount)
                        $('#donate-text').html($('.donate-icon-row img[data-amount="' + hoverAmount + '"]').attr('alt'))

                        // Update the dash
                        $('.filled-circle, .connect-dash, .donate-icon-row img').removeClass('selected').each(function() {
                            if($(this).data('amount') <= hoverAmount) {
                                $(this).addClass('selected')
                            }
                        })
                    })
                    $('.donate-icon-row img.selected').trigger('mouseover')
                    $('[data-toggle="tooltip"]').tooltip();
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    If you sign up with <a href="{{ site.ad_link }}&chan=dftl" target="_blank">Newshosting</a> you will support SABnzbd development <strong>and</strong> get an amazing usenet deal.
                </p>
                <p>
                    We worked with Newshosting to get you a special SABnzbd deal: <a href="{{ site.ad_link }}&chan=dftl" target="_blank">65% discount</a> and a <a href="{{ site.ad_link }}&chan=dftl" target="_blank">750GB free trial</a>!
                </p>

                {% include ad_horizontal.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row qr-codes">
            <div class="col-sm-3 col-sm-offset-3">
                <h3>Bitcoin</h3>
                <div class="input-group">
                    <input type="text" class="form-control" readonly name="btc" value="1KAf7dFEio5X9HS5Qv9SM9Z7484Mf7jNHm">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-qrcode"></span></button>
                    </span>
                </div>
                <div id="qr-bitcoin" class="crypto-qrs"></div>

                <h3>Bitcoin Cash</h3>
                <div class="input-group">
                    <input type="text" class="form-control" readonly name="btccash" value="14gJ2ThAsBUzb4CpifUj9aDEvsYDqasbjV">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-qrcode"></span></button>
                    </span>
                </div>
                <div id="qr-bitcoincash" class="crypto-qrs"></div>
            </div>
            <div class="col-sm-3">
                <h3>Ethereum</h3>
                <div class="input-group">
                    <input type="text" class="form-control" readonly name="eth" value="0xc9c424F21edbC2d200d38643C261407a3A3805F7">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-qrcode"></span></button>
                    </span>
                </div>
                <div id="qr-ethereum" class="crypto-qrs"></div>

                <h3>Litecoin</h3>
                <div class="input-group">
                    <input type="text" class="form-control" readonly name="ltc" value="LcToBHhN15VDornWjCgvHyFdvxYQTP36Zr">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-qrcode"></span></button>
                    </span>
                </div>
                <div id="qr-litecoin" class="crypto-qrs"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript">
    $('#qr-bitcoin').html('').qrcode({
        text: "1KAf7dFEio5X9HS5Qv9SM9Z7484Mf7jNHm",
        size: 170
    });
    $('#qr-bitcoincash').html('').qrcode({
        text: "14gJ2ThAsBUzb4CpifUj9aDEvsYDqasbjV",
        size: 170
    });
    $('#qr-ethereum').html('').qrcode({
        text: "0xc9c424F21edbC2d200d38643C261407a3A3805F7",
        size: 170
    });
    $('#qr-litecoin').html('').qrcode({
        text: "LcToBHhN15VDornWjCgvHyFdvxYQTP36Zr",
        size: 170
    });
    $('.qr-codes input').click(function() {
        $(this).select()
    })
    // Only show QR on-click
    $('.input-group-btn button').click(function(evnt) {
        $(evnt.delegateTarget).parent().parent().next('.crypto-qrs').show()
    })
</script>