{% include header.html %}

{% if page.url contains "/introduction/" or page.url contains "/installation/" or page.url contains "/servers" or page.url contains "/glitter-tips-and-tricks" or page.url contains "/faq" %}
    {% include ad_corner.html %}
{% endif %}

{% include logo_container.html %}
<div class="main-wrapper content-container">
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-3 collapse" id="wiki-side-bar">
                <a href="/wiki/">User Manual</a>
                <a href="/wiki/faq">FAQ</a>
                <a href="/wiki/contact">Contact</a>
                <!-- Disabled for now, untill we have something to write
                <a href="/wiki/new-features-and-changes">New features and changes</a>
                -->

                <div class="menu-spacer"></div>

                <a href="#wiki-menu-start" data-toggle="collapse">
                    Introduction <span class="caret"></span>
                </a>
                <ul id="wiki-menu-start" class="collapse {% if page.url contains "/introduction/" %}in{% endif %}" >
                    <li><a href="/wiki/introduction/quick-setup">Quick Setup</a></li>
                    <li><a href="/wiki/introduction/usage">Using SABnzbd</a></li>
                    <li><a href="/wiki/introduction/nzb-sources">NZB Sources</a></li>
                    <li><a href="/wiki/introduction/howto">How To's</a></li>
                    <li><a href="/wiki/introduction/known-issues">Known issues</a></li>
                </ul>

                <a href="#wiki-menu-installation" data-toggle="collapse">
                    Installation <span class="caret"></span>
                </a>
                <ul id="wiki-menu-installation" class="collapse {% if page.url contains "/installation/" %}in{% endif %}" >
                    <li><a href="/wiki/installation/install-windows">Windows</a></li>
                    <li><a href="/wiki/installation/install-macos">macOS</a></li>
                    <li><a href="/wiki/installation/install-unix">Unix</a></li>
                    <li><a href="/wiki/installation/install-nas">NAS</a></li>
                    <li><a href="/wiki/installation/install-off-modules">From source</a></li>
                </ul>

                <a href="#wiki-menu-configure" data-toggle="collapse">
                    Configuration <span class="caret"></span>
                </a>
                <ul id="wiki-menu-configure" class="collapse {% if page.url contains "/configuration/" %}in{% endif %}" >
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/configure">Configure</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/general">General</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/folders">Folders</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/servers">Servers</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/categories">Categories</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/switches">Switches</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/sorting">Sorting</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/notifications">Notifications</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/scheduling">Scheduling</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/rss">RSS</a></li>
                    <li><a href="/wiki/configuration/{{ site.wiki_version }}/special">Special Settings</a></li>
                </ul>

                <a href="#wiki-menu-scripts" data-toggle="collapse">
                    Scripts <span class="caret"></span>
                </a>
                <ul id="wiki-menu-scripts" class="collapse {% if page.url contains "/scripts/" %}in{% endif %}" >
                    <li><a href="/wiki/scripts/pre-queue-scripts">Pre-queue scripts</a></li>
                    <li><a href="/wiki/scripts/post-processing-scripts">Post-processing scripts</a></li>
                    <li><a href="/wiki/scripts/notification-scripts">Notification scripts</a></li>
                </ul>

                <a href="#wiki-menu-advanced" data-toggle="collapse">
                    Advanced Topics <span class="caret"></span>
                </a>
                <ul id="wiki-menu-advanced" class="collapse {% if page.url contains "/advanced/" %}in{% endif %}" >
                    <li><a href="/wiki/advanced/api">API Reference</a></li>
                    <li><a href="/wiki/advanced/highspeed-downloading">High-Speed Tweaks</a></li>
                    <li><a href="/wiki/advanced/https">HTTPS for the Web UI</a></li>
                    <li><a href="/wiki/advanced/command-line-parameters">Command line options</a></li>
                    <li><a href="/wiki/advanced/directory-setup">Folder setup</a></li>
                    <li><a href="/wiki/advanced/unix-permissions">Unix permissions</a></li>
                    <li><a href="/wiki/advanced/unix-packaging">Tips for package creators</a></li>
                    <li><a href="/wiki/advanced/password-protected-rars">RAR with password</a></li>
                    <li><a href="/wiki/advanced/ipv6">IPv6</a></li>
                    <li><a href="/wiki/advanced/certificate-errors">SSL/TLS security</a></li>
                    <li><a href="/wiki/advanced/ssl-ciphers">SSL Ciphers</a></li>
                    <li><a href="/wiki/advanced/sabnzbd-as-a-windows-service">Windows Service</a></li>
                </ul>

                <div class="menu-spacer"></div>

                <a href="/wiki/extensions-for-sabnzbd">Extensions for SABnzbd</a>

                {% include ad_vertical.html %}
            </div>
            <div class="col-md-9">
                <h2 class="title-page">
                    <a href="https://github.com/sabnzbd/sabnzbd.github.io/issues/new?title=Improve%3A+{{ page.title | url_encode }}&amp;body=%23%23+URL%3A+{{ page.url | url_encode }}%0A%0AImprovement:%0A">
                        <span>Incorrect or missing information?</span>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                    </a>
                    {{ page.title }}
                </h2>
                <div class="wiki-content">
                    {% assign url_bits = page.url | split: '/' %}
                    {% if url_bits[2] == 'configuration' and url_bits[3] < site.wiki_version %}
                        <div class="alert alert-warning alert-old-sabnzbd"><span class="glyphicon glyphicon-refresh"></span>
                            This Wiki page is for an older version of SABnzbd.<br/> You can download the most recent stable version (SABnzbd {{ site.latest_stable }}) on our <a href="/downloads" class="alert-link">downloads</a> page.
                        </div>
                    {% endif %}

                    {{ content }}
                </div>
            </div>
        </div>
        <div class="row text-center" id="banner-wide">
            <hr>
            {% include ad_horizontal.html %}
        </div>
    </div>
</div>
<script type="text/javascript">
    // Highlight current item
    $('#wiki-side-bar a[href="'+window.location.pathname.replace('.html', '')+'"]').addClass('active-menu')
    // Close the other menus when clicking a new one
    $(document).ready(function() {
        $('#wiki-side-bar .collapse').on('show.bs.collapse', function() {
            $('#wiki-side-bar').find('.collapse.in').collapse('hide');
        })
    })
</script>

{% include footer.html %}
